In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
np.random.rand(5,4)

array([[ 0.96130674,  0.0083883 ,  0.10644438,  0.29870371],
       [ 0.65641118,  0.80981255,  0.87217591,  0.9646476 ],
       [ 0.72368535,  0.64247533,  0.71745362,  0.46759901],
       [ 0.32558468,  0.43964461,  0.72968908,  0.99401459],
       [ 0.67687371,  0.79082252,  0.17091426,  0.02684928]])

In [9]:
# Let's see how we would find outliers in a dataset

# First we'll seed the numpy generator
np.random.seed(12345)

np.random.rand
#Next we'll create the dataframe
dframe = DataFrame(np.random.randn(1000,4))

In [11]:
#Show preview
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [12]:
# Lets describe the data
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [13]:
# Lets select the first column
col = dframe[0]

In [14]:
# NOw we can check which values in the column are greater than 3, for instance.
col[np.abs(col)>3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [29]:
# So we now know in column[0], rows 523 and 900 have values with abs > 3

#How about all the columns?

# We can use the "any" method
dframe[(np.abs(dframe)>3).any(1)]
# any(axis) here axis=1 that are the columns

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [17]:
# WE could also possibly cap the data at 3

dframe[np.abs(dframe)>3] = np.sign(dframe) *3

In [19]:
np.sign(dframe)*3

     0  1  2  3
0   -3  3 -3 -3
1    3  3  3  3
2    3  3  3 -3
3    3  3  3  3
4   -3 -3  3 -3
5   -3  3  3 -3
6   -3  3  3  3
7    3  3 -3 -3
8   -3 -3 -3  3
9   -3  3 -3  3
10  -3 -3 -3 -3
11  -3  3  3 -3
12   3  3  3  3
13  -3  3  3 -3
14  -3  3  3 -3
15   3 -3  3  3
16   3 -3 -3 -3
17  -3 -3 -3  3
18   3  3  3 -3
19  -3 -3 -3  3
20   3 -3  3  3
21   3  3 -3  3
22  -3  3  3  3
23  -3  3  3  3
24   3 -3  3  3
25  -3 -3 -3 -3
26  -3 -3  3  3
27  -3  3 -3  3
28   3 -3 -3 -3
29   3 -3  3 -3
..  .. .. .. ..
970  3  3  3 -3
971 -3 -3 -3  3
972  3  3 -3 -3
973 -3  3  3 -3
974 -3 -3  3 -3
975 -3 -3  3 -3
976  3  3  3  3
977 -3  3  3  3
978  3 -3  3  3
979  3  3 -3  3
980 -3 -3 -3 -3
981 -3  3  3  3
982 -3  3  3  3
983 -3  3  3  3
984  3 -3  3 -3
985 -3  3  3  3
986 -3 -3  3 -3
987 -3 -3  3 -3
988 -3  3 -3 -3
989  3  3  3  3
990 -3 -3 -3  3
991  3 -3  3  3
992 -3  3 -3 -3
993  3  3 -3  3
994  3 -3  3  3
995  3  3 -3  3
996 -3 -3 -3 -3
997 -3  3  3  3
998 -3 -3 -3 -3
999  3  3  3  3

[1000 rows x 4 columns]

In [34]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.061623     0.074473     0.037153     0.009919
std       0.995875     0.989820     1.003604     0.989688
min      -2.969411    -2.989741    -2.925113    -2.881858
25%      -0.774132    -0.588138    -0.622310    -0.636641
50%      -0.115171     0.102787     0.012889    -0.010997
75%       0.619779     0.787953     0.682401     0.659019
max       3.000000     3.000000     3.000000     3.000000

In [ ]:
# Next we'll learn about Permutation!